---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import { SITE } from "@config";

const articles = await getCollection("blog");
const tags: Array<[string, number]> = [
  ...articles
    .filter(article => !article.data.draft)
    .flatMap(article => [...article.data.tags])
    .reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map()),
].sort((a, b) => {
  return b[1] - a[1];
});
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="全部标签">
    <ul>
      {tags.map(tag => <Tag name={tag[0]} count={tag[1]} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
