---
import LinkItem from '@components/LinkItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { links } from "../links";

---

<BaseLayout title="友链" description="我的朋友、喜欢的开源项目、推荐的产品和爱听的播客">
  <main class="max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">友链</h1>
    <h4 class="text-lg text-center font-semibold mb-4 text-accent-regular">海内存知己，天涯若比邻</h4>
    <section class="mb-12"></section>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {links.map((link) => (
          <LinkItem name={link.name} href={link.href} logo={link.logo} description={link.description} />
        ))}
      </div>
    </section>
  </main>
</BaseLayout> 