---
import { getCollection } from "astro:content";
import LinkButton from "@components/LinkButton.astro";

const articles = await getCollection("blog");
// const tags: Array<[string, number]> = [
//   ...articles
//     .flatMap(article => [...article.data.tags])
//     .reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map()),
// ].sort((a, b) => {
//   return b[1] - a[1];
// });

const years: Array<[string, number]> = [
  ...articles
    .map(article => new Date(article.data.pubDatetime).getFullYear())
    .reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map()),
].sort((a, b) => {
  return b[0] - a[0];
});
---

<aside class="sm:w-[20%]">
  <!-- <section>
    <h2 class="mb-3">Tags</h2>
    <ul class="m-0 list-none p-0">
      {
        tags.map(tag => (
          <li>
            <a href={"/articles/tags/" + tag[0] + "/"}>{tag[0]}</a>&nbsp;(
            {tag[1]})
          </li>
        ))
      }
    </ul>
  </section> -->
  <section class="sticky top-8">
    <h1 class="mb-3 text-2xl font-bold">归档</h1>
    <ul class="m-0 list-none p-0">
      {
        years.map(year => (
          <li>
            <LinkButton
              href={"/posts/years/" + year[0] + "/"}
              className="my-1 underline decoration-dashed underline-offset-8 text-lg"
            >
              {year[0]}
            </LinkButton>
            ({year[1]})
          </li>
        ))
      }
    </ul>
  </section>
</aside>
