---
import type { CollectionEntry } from 'astro:content';

interface Props {
	posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;

function formatDate(date: Date) {
  return new Date(date).toLocaleDateString('zh-CN', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  });
}
---

<div class="list-wrapper flex justify-center">
  <div class="list w-full md:w-2/3 lg:w-1/2">
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>
            <h5 class="title">{post.data.title}</h5>
            <div class="time">
              {formatDate(post.data.pubDatetime)}
            </div>
          </a>
        </li>
      ))
    }
  </div>
</div>


<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .title:hover {
    color: var(--link-color);
  }
	.title {
		z-index: 1;
		margin: 0.5rem;
		color: var(--gray-200);
	}
  .time {
    color: var(--gray-400);
    font-size: 0.8rem;
    margin: 0.5rem;
  }
</style>
