---
import { Picture } from "astro:assets";
---

<div class="text-base">
  <hr />
  <br />
  <p>本文作者：liruifengv</p>
  <br />
  <p>
    本文采用 <a
      class="text-primary-500 text-skin-accent underline"
      href="http://creativecommons.org/licenses/by/4.0/"
      target="_blank"
      rel="noreferrer">知识共享署名 4.0 国际许可协议 (CC BY 4.0)</a
    >，欢迎转载、或重新修改使用，但需要注明来源。
  </p>
  <br />
  <p>
    你的鼓励是我最大的支持，你可以在 <a
      class="text-primary-500 text-skin-accent underline"
      href="https://www.zhihu.com/people/liruifengv"
      target="_blank"
      rel="noreferrer">知乎</a
    >、<a
      class="text-primary-500 text-skin-accent underline"
      href="https://juejin.cn/user/237150239994471"
      target="_blank"
      rel="noreferrer">掘金</a
    > 等平台关注我，也可以关注我的公众号 「<strong>SayHub</strong>」
    获取更多内容。
  </p>
</div>

<br />
<Picture
  src="https://bucket.liruifengv.com/qrcode.png"
  alt="My Wechat QRCode"
  width={290}
  height={108}
  formats={["avif", "webp"]}
/>
