---
export interface Props {
  name: string;
  count?: number;
  size?: "sm" | "lg";
}

const { name, count, size = "sm" } = Astro.props;
---

<li class={`inline-block  mx-1 ${size === "sm" ? " my-1" : "my-3"}`}>
  <a
    href={`/posts/tags/${name.toLowerCase()}`}
    transition:name={name.toLowerCase()}
    class={`${size === "sm" ? "text-sm" : "text-base"} pr-4 group`}
  >
    <span
      >{name.toLowerCase()}
      {count && count > 0 && `(${count})`}</span
    >
  </a>
</li>

<style>
  a {
    @apply relative rounded-md border px-2 py-1 text-skin-accent hover:text-skin-accent focus-visible:p-1;
  }
</style>
