---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import "@styles/starlight.css";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="projects" />
  <main id="main-content" class="mt-4">
    <section
      id="projects"
      class="prose mb-28 max-w-5xl text-base prose-img:border-0"
    >
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
